.pricing {
    background-color: $second-bg-color;
    padding-top: 8rem;
    padding-bottom: 8rem;

    .container {
        line-height: 1.8;
        text-align: center;

        .pricing-title {
            color: $subheading-color;
            position: relative;
            text-transform: capitalize;
            font-size: 1.2rem;
            font-weight: 500;
            z-index: 10;
        }

        .pricing-subtitle {
            position: relative;
            color: $heading-color;
            font-size: 3.3rem;
            font-weight: 500;
            text-transform: capitalize;
            z-index: 10;
        }

        .pricing-text {
            position: relative;
            color: $text-color;
            font-size: 1.125rem;
            padding: 0 29rem;
            z-index: 10;
        }

        .buttons-box {
            margin-top: 2rem;
            background-color: white;
            display: inline-flex;
            border-radius: 2.2rem;
            padding: .3rem;
            transition: .3s;
            border: 1px solid rgba($color: #000000, $alpha: .1);

            button {
                border: none;
                background: none;
                font-size: 1.025rem;
                text-transform: capitalize;
                padding: 1.2rem 2.4rem;
                border-radius: 1.8rem;
                color: $heading-color;
                transition: .3s;
                position: relative;
                z-index: 10;
                cursor: pointer;
                

                &.active {
                    background-color: $primary-color;
                    color: white;
                }
            }

        }
        .pricing-cards {
            margin-top: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 1.5rem;

            

            .pricing-card {
                background-color: white;
                text-align: center;
                padding: 1rem;
                flex: 1;
                border-radius: 2rem;
                transition: .3s;

                * {
                    transition: .3s;
                }
    
                &:hover {
                    background-color: $primary-color;
    
                    h2, h3, p, li, span {
                        color: white !important;
                    }

                    .plan-btn  {
                        background-color: white;
                        color: $heading-color;
                        border-color: white;
                    }
                }

                .plan-title {
                    font-size: 2.4rem;
                    font-weight: 400;
                    color: $primary-color;
                }

                .plan-subtitle {
                    font-size: .875rem;
                    color: $heading-color;
                    margin-bottom: 1.4rem;
                }

                hr {
                    width: 92%;
                    height: 1px;
                    border: none;
                    outline: none;
                    background: rgba($color: #000000, $alpha: .1);
                    margin: auto;
                }

                .price {
                    margin-top: 1.6rem;
                    color: $heading-color;
                    font-size: 4rem;
                    font-weight: 500;
                    letter-spacing: -3px;

                    span {
                        color: rgba($color: $text-color, $alpha: .5);
                        font-size: .925rem;
                        font-weight: 500;
                        letter-spacing: normal;

                    }
                }

                .plan-btn {
                    display: inline-block;
                    border: 1px solid rgba($color: #000000, $alpha: .3);
                    margin: 1.5rem 0;
                    padding: 1.2rem 2.8rem;
                    border-radius: 1rem;
                    color: $heading-color;
                    font-weight: 500;
                    transition: .3s;

                    &:hover {
                        border: 1px solid rgba($color: #000000, $alpha: 0);
                        background-color: #ff9900;
                        color: white;
                    }
                }


                .plan-features {
                    line-height: 3;
                    color: $text-color;
                    margin-bottom: 2rem;
                    .plan-feature {
                        text-align: left;
                        padding-left: 1rem;

                        i {
                            margin-right: 1rem;
                        }
                    }
                }
            }
        }

    }
    // .pricing__line {
    //     position: relative;
    //     z-index: 0;
    //     top: -17rem;
    //     left: -6rem;
    // }

    // .pricing__graphic {
    //     position: relative;
    //     top: -29rem;
    //     left: 58rem;
    //     z-index: 1;
    // }
}